NewSponza_Curtains_glTF.bin filter=lfs diff=lfs merge=lfs -text
NewSponza_IvyGrowth_glTF.bin filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
tbdpec3r_tier_2.bin filter=lfs diff=lfs merge=lfs -text
tbdpec3r_tier_3.bin filter=lfs diff=lfs merge=lfs -text
tbdpec3r_tier_1.bin filter=lfs diff=lfs merge=lfs -text
